@font-face {
  font-family: 'Lato';
  src: url('/Fonts/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Elms_Sans';
  src: url('/Fonts/Elms_Sans/static/ElmsSans-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.main1_ReportsPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.container1_ReportsPopup {
  background: #ffffff;
  border-radius: 14px;
  padding: 35px 40px;
  width: 420px;
  border: 1px solid #e0e0e0;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 10px 25px rgba(0, 0, 0, 0.15);
  animation: popupFade 0.25s ease-in-out;
}


.col1_ReportsPopup h3 {
  text-align: center;
  margin-bottom: 25px;
  color: #1a1a1a;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 2px solid #ff6600;
  padding-bottom: 10px;  
  font-family: 'Elms_Sans';
}


.col1_ReportsPopup form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: 'Elms_Sans';
}

.col1_ReportsPopup input {
  width: 100%;
  padding: 11px 13px;
  border: 1.8px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  outline: none;
  background-color: #fafafa;
  transition: all 0.3s ease;
  font-family: 'Elms_Sans';
}

.col1_ReportsPopup input:focus {
  border-color: #0078ff;
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(0, 120, 255, 0.3);
}

.col1_ReportsPopup label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
  letter-spacing: 0.3px;
}

.btnRP {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
    font-family: 'Lato',sans-serif;
  gap: 10px;
}

.btnRP button {
  flex: 1;
  padding: 11px 0;
  border: 1.5px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
    font-family: 'Lato',sans-serif;
  transition: all 0.3s ease;
}

.btnRP button:first-child {
  background-color: #fff;
  border-color: #e74c3c;
  color: hsl(6, 78%, 57%);
}

.btnRP button:first-child:hover {
  background-color: #e74c3c;
  color: #fff;
}

.btnRP button:last-child {
  background-color: #ff6600;
  border-color: #ff6600;
  color: #fff;
}
.btnRP button:last-child:hover {
  background-color: #006ae0;
}


@keyframes popupFade {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
